**/pch
*.db
*.sdf
*.opensdf
*.opendb
*.ilk
*.ipch
*.ipdb
*.iobj
*.pdb
*.bsc
*.iobj
*.ipdb
*.bsc
*.pdb
**/vs2015/Debug
**/vs2015/Release
**/vs2015/.vs
**/tmp
**/*-Debug.*
**/*-Release.lib
**/*.Tests*.dll
**/*-Release.exp
**/*-d-2.dll
**/logs/*
