<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Bindings>
    <KeyBinding Name="Accept" Key="Space" />
    <KeyBinding Name="Abort" Key="Escape" />
    <KeyBinding Name="ScrollDown" Key="Down" />
    <KeyBinding Name="ScrollUp" Key="Up" />
    <KeyBinding Name="HotkeyAbility1" Key="Num1" />
    <KeyBinding Name="HotkeyAbility2" Key="Num2" />
    <KeyBinding Name="HotkeyAbility3" Key="Num3" />
    <KeyBinding Name="MoveUp" Key="W" />
    <KeyBinding Name="MoveDown" Key="S" />
    <KeyBinding Name="MoveLeft" Key="A" />
    <KeyBinding Name="MoveRight" Key="D" />
  </Bindings>
  <Window Title="Tower of Doom" RefreshRate="60" IsFullScreen="false">
    <Resolution Width="1024" Height="768" />
  </Window>
  <Textures>
    <Texture Name="Game.Screen.StartScreen.Background" Location="../assets/GUI/StartScreenV2.png" />
    <Texture Name="Game.Screen.CreditScreen.Background" Location="../assets/GUI/creditScreenBG.png" />
    <Texture Name="Game.Screen.GameplayScreen.GUIBorder" Location="../assets/GUI/GUIBorderV3.png" />
    <Texture Name="Game.Screen.GameplayScreen.GUIUnitFrame" Location="../assets/GUI/GUI_UnitFrame.png" />
    <Texture Name="Game.Screen.GameplayScreen.Cursors" Location="../assets/GUI/cursors.png" />
    <Texture Name="Game.Character.Player" Location="../assets/Characters/Player.png" />
    <Texture Name="Game.Character.Enemy.Undead" Location="../assets/Characters/Undead.png" />
    <Texture Name="Game.Character.Enemy.Pest" Location="../assets/Characters/Pest.png" />
    <Texture Name="Game.Character.Selector" Location="../assets/GUI/UnitSelector.png" />
  </Textures>
</Settings>
